<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
">

    <bean id="authHeaderAggregator" class="io.portx.camel.aggregation.HeaderAggregationStrategy">
        <property name="headerName" value="Authorization"/>
    </bean>
    <bean id="encodeAuthHeader" class="io.portx.cbs.connector.EncodeAuthHeader"/>
    <bean id="jsonToStringProc" class="io.portx.cbs.connector.JsonToStringProc"/>
    <bean id="mapRelatedPartiesToGroupMembers" class="io.portx.cbs.connector.mapper.MapRelatedPartiesToGroupMembers"/>
    <bean id="mapGroupMembersToRelatedParties" class="io.portx.cbs.connector.mapper.MapGroupMembersToRelatedParties"/>
</beans>